<.header>
  Artists
</.header>

<.table
  id="artists"
  rows={@streams.artists}
>
  <:col :let={{_id, track}} label="Artist"><%= track.artist_id %></:col>
  <:col :let={{_id, track}} label="Album"><%= track.album_id %></:col>
  <:col :let={{_id, track}} label="Artist name"><%= track.artist_name %></:col>
  <:col :let={{_id, track}} label="Album name"><%= track.album_name %></:col>
  <:col :let={{_id, track}} label="Title"><%= track.title %></:col>
  <:col :let={{_id, track}} label="Audio url"><%= track.audio_url %></:col>
  <:col :let={{_id, track}} label="Art url"><%= track.art_url %></:col>
  <:col :let={{_id, track}} label="Number"><%= track.number %></:col>
  <:col :let={{_id, track}} label="Year"><%= track.year %></:col>
  <:col :let={{_id, track}} label="Length"><%= track.length %></:col>
</.table>
