<section class="py-4 sm:py-8">
  <div class="container mx-auto max-w-screen-lg px-4 sm:px-6 lg:px-0 flex flex-col items-center pt-2 sm:pt-4 pb-6 sm:pb-12">
    <h1 class="font-bold text-2xl sm:text-3xl text-black tracking-tight mb-6 sm:mb-12 self-start">
      Albums by <%= List.first(@albums).artist_name %>
    </h1>

    <div class="w-full grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-3 sm:gap-6">
      <%= for %{album_name: album_name, art_url: art_url, album_id: id} <- @albums do %>
        <.link patch={~p"/albums/#{id}"} class="block hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-600">
          <img src={art_url} alt={"#{album_name} Album Art"} class="w-full h-auto rounded-md">
          <div class="mt-2 text-center font-semibold text-sm sm:text-base"><%= album_name %></div>
        </.link>
      <% end %>
    </div>
  </div>
</section>
