<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Atlas" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
    <%= @inner_content %>

    <div id="player" phx-hook="playback" class="fixed bottom-0 left-0 right-0 bg-white border-t border-gray-200 shadow-lg z-50 hidden">
      <div class="container mx-auto max-w-screen-lg px-4 sm:px-6 py-2">
        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-2 sm:space-x-4">
            <img id="player-art" src="" alt="Album Art" class="w-10 h-10 sm:w-12 sm:h-12 rounded-md object-cover" />
            <div>
              <p id="player-title" class="font-semibold text-xs sm:text-sm truncate max-w-[120px] sm:max-w-[200px]">title</p>
              <p id="player-artist" class="text-xs text-gray-600 truncate max-w-[120px] sm:max-w-[200px]">artist</p>
            </div>
          </div>
          <div class="flex items-center space-x-2 sm:space-x-4">
            <button class="text-blue-600 hover:text-blue-800" phx-click="play_prev">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 sm:h-6 sm:w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
              </svg>
            </button>
            <button class="text-blue-600 hover:text-blue-800" phx-click="play_pause">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 sm:h-8 sm:w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 9v6m4-6v6m7-3a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </button>
            <button class="text-blue-600 hover:text-blue-800" phx-click="play_next">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 sm:h-6 sm:w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
              </svg>
            </button>
          </div>
          <div class="hidden sm:flex items-center space-x-2 text-xs text-gray-600">
            <span id="current-time">0:00</span>
            <input type="range" id="playback-slider" min="0" value="0" step="1" class="w-24 sm:w-48 ">
            <span id="duration-time">0:00</span>
          </div>
        </div>
      </div>
    </div>
    <audio id="audio-player"></audio>
  </body>
</html>
